$primary-color:#2cb978;
$secondary-color:#83e85a;
$tertiary-color:#107a8b;
$light-color:#f4f4f4;
$dark-color:#444;
$grey-color-1:#f7f7f7;



// grid variables
$grid-width:114rem;
$gutter-vertical:5%;
$gutter-vertical-big:10%;
$gutter-horizontal:6%;