.u-center-text
{
    text-align: center;
    a
    {
        text-align: center;
    }
}
.u-margin-bottom-high
{
    margin-bottom: 8rem !important;
}
.u-margin-top-high
{
    margin-top: 8rem !important;
}
.u-margin-bottom-medium
{
    margin-bottom: 5rem !important;
}
.u-margin-top-medium
{
    margin-top: 5rem !important;
}
.u-margin-bottom-low
{
    margin-bottom:2rem !important;
}
.u-margin-top-low
{
    margin-top:2rem !important;
}
.u-margin-bottom-vlow
{
    margin-bottom:0.9rem !important;
}
